.container {
  border-radius: 18px;
  width: 70%;
  overflow: auto;
  padding: 2rem 1rem;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #bbe7fb;
}

.text_box,
.button_box {
  text-align: center;
  width: 100%;
}

.text_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.transcript {
  height: 42vh;
  width: 94%;
  text-align: center;
  font-family: "__Inter_e66fe9", "__Inter_Fallback_e66fe9";
  font-size: medium;
  display: flex;
  align-items: center;
  border: 2px solid black;
  padding: 1rem 1rem;
  border-radius: 22px;
  overflow: auto;
}

.btn {
  padding: 0.5rem;
  background-color: #97d1e1;
  border: 2px solid white;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  margin: 0 1rem;
}
.btn:hover {
  background-color: #6dc8e1;
}

.start_btn,
.stop_btn {
  width: 2rem;
  height: 2rem;
  margin: 0.3rem 0;
  padding: 1rem;
  border-radius: 50%;
  border: 2px solid rgb(255 255 255);
  cursor: pointer;
}
.start_btn {
  background-color: rgb(212 237 239);
  border: 2px solid red;
}
.stop_btn {
  background-color: rgb(255 17 17);
  border: 2px solid rgb(255 255 255);
}

@media (max-width: 840px) {
  .container {
    box-sizing: border-box;
    border-radius: 0;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
    margin: 0;
  }
}

@media (max-width: 610px) {
  .button_box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .btn {
    width: 35%;
    padding: 0.5rem;
    background-color: #97d1e1;
    border: 2px solid white;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    margin: 0.2rem 0;
  }
}

@media (max-width: 400px) {
  .transcript {
    padding: 2rem 1rem;
  }
}
