
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
  }
  
  .text_box,
  .button_box {
    margin-top: 2rem;
  }
  
  .text_box {
    width: 60%;
    height: 30vh;
    background-color: rgb(135, 194, 194);
  }
  